#navbar{
    border-bottom: 2px solid #ccc;
}

.navbar-active{
    color: #4f46e5;
    border-bottom: 2px solid #4f46e5;
}

.navbar-item{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2px;
}

#navbar-list{
    list-style: none;
    margin: 0;
}

#navbar-account-span{
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 8px;
}

#navbar-account-icon{
    font-size: 0.8rem;
}

#navbar-title-span{
    font-size: 1.5rem;
    font-weight: 600;
}